body {
    background-color: rgb(16, 16, 16);
    background-image: url("../indexImages/BackgroundGridThin.png");
    background-repeat:repeat;
    background-position-x: center;
}

.orange {
    color: orange;
}
.mono {
    font-family:monospace;
}

.clockFace {
    color: orange;
    font-size: 45px;
    font-family: monospace;

    text-align: center;
}